.mat-elevation-z4 {
    display: flex;
    align-items: center;

}

.mat-elevation-z4 a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.mat-elevation-z4 .logo{
    max-height: 30px;
}

.mat-elevation-z4 .title-group {
    padding-left: 25px;
}

.mat-elevation-z4 .title-group i {
    padding-right: 25px;
}
