<button class="btn" role="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" mat-button>Add Emplyee</button>

<div class="table">
    <div class="table-header">
        <div class="header__item"><a id="fname" class="filter__link">First name</a></div>
        <div class="header__item"><a id="lname" class="filter__link filter__link--number">Last name</a></div>
        <div class="header__item"><a id="email" class="filter__link filter__link--number">Email</a></div>
        <div class="header__item"><a id="mobile" class="filter__link filter__link--number">Mobile</a></div>
        <div class="header__item"><a id="salary" class="filter__link filter__link--number">Salary</a></div>
        <div class="header__item"><a id="actions" class="filter__link filter__link--number">Actions</a></div>
    </div>
    <div class="table-content">
        <div class="table-row">
            <div class="table-data">Tom</div>
            <div class="table-data">Vargas</div>
            <div class="table-data">tomvargas@gmail.com</div>
            <div class="table-data">2035498285</div>
            <div class="table-data">50.000</div>
            <div class="table-data">
                <button class="btn-actions">Edit</button>
                <button class="btn-actions">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Employee details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="First name" aria-label="FirstName" aria-describedby="basic-addon1">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="LastName" aria-describedby="basic-addon1">
                    <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                    <input type="number" class="form-control" placeholder="Phione number" aria-label="Phone" aria-describedby="basic-addon1">
                    <input type="text" class="form-control" placeholder="Salary" aria-label="Salary" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
