.d-flex {
    margin: 3% 0% 0% 90%;

    .add {
        background-color: #263238;
        color: #fff;
        border-color: #263238;
    }

    .add:hover {
        background-color: #30596d;
        color: #fff;
    }
}

.table {
    margin: 3% 0% 0% 0%;
    background-color: #fff;

    .btn-table {
        margin: 0% 3% 0% 3%;
        background-color: #263238;
        color: #fff;
        border-color: #263238;
    }

    .btn-table:hover {
        background-color: #30596d;
        color: #fff;
    }
}


.modal {
    .btn {
        background-color: #263238;
        color: #fff;
        border-color: #263238;
    }

    .btn:hover {
        background-color: #30596d;
        color: #fff;
    }

    .btn-modal{
        background-color: #263238;
        color: #fff;
        border-color: #263238;
    }
}
