<div class="wrapper">
    <div class="form-box login">
        <h2>Login</h2>
        <form [formGroup]="loginForm">
            <div class="input-box">
                <span class="icon"><mat-icon name="mail"></mat-icon></span>
                <input type="email" formControlName="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><mat-icon name="lock-closed"></mat-icon></span>
                <input type="password" formControlName="password" required>
                <label>Password</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox"/>Remenber me</label>
                <a routerLink="#">Forgot password?</a>
            </div>
        </form>
        <button class="btn" color="primary" (click)="onSubmit()">Login</button>
        <p class="btn-login">Don't have an account? <a routerLink="/register" routerLinkActive="active">Register here.</a></p>
    </div>
</div>
