.d-flex {
    margin: 2% 0% 0% 90%;

    .add {
        background-color: #263238;
        color: #fff;
        border-color: #263238;
    }

    .add:hover {
        background-color: #fff;
        color: #000;
    }
}

.add:hover {
    background-color: #fff;
    color: #000;
}

.table {
    margin: 3% 0% 0% 0%;
    background-color: #fff;
    box-shadow: 0.063rem 0 1.10rem 0 #8690a3;

    .btn-table {
        margin: 0% 3% 0% 3%;
        background-color: #263238;
        color: #fff;
        border-color: #263238;
    }

    .btn-table:hover {
        background-color: #fff;
        color: #000;
    }
}

.modal {
    .btn {
        background-color: #263238;
        color: #fff;
        border-color: #263238;
    }

    .btn:hover {
        background-color: #fff;
        color: #000;
    }
}