<div class="d-flex">
  <button mat-button class="add" data-bs-toggle="modal" data-bs-target="#exampleModal">Add product</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Fornecedor</th>
      <th scope="col">Designação</th>
      <th scope="col">Fabricante</th>
      <th scope="col">N. Ref</th>
      <th scope="col">Lote</th>
      <th scope="col">testes/embal</th>
      <th scope="col">Apres.</th>
      <th scope="col">Preço/uni-EURO</th>
      <th scope="col">Preço/uni-ECV</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let products of Product">
      <th scope="row">1</th>
      <td>{{ products.fornecedor }}</td>
      <td>{{ products.designacao }}</td>
      <td>{{ products.fabricante }}</td>
      <td>{{ products.numRef }}</td>
      <td>{{ products.lote }}</td>
      <td>{{ products.testeEmbal }}</td>
      <td>{{ products.precoEuro }}</td>
      <td>{{ products.precoEscudo }}</td>
      <td>
        <button mat-button class="btn-table" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateProduct()">Edit</button>
        <button mat-button class="btn-table" (click)="deleteProduct(Product.id)">Delete</button>
      </td>
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Product details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleInputFornecedor" class="form-label">Fornecedor</label>
          <input type="text" class="form-control" [(ngModel)]="productDetails.fornecedor" id="exampleInputEmail1"
            aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputDesignacao" class="form-label">Designação</label>
          <input type="text" class="form-control" [(ngModel)]="productDetails.designacao" id="exampleInputDesignacao">
        </div>
        <div class="mb-3">
          <label for="exampleInputFabricante" class="form-label">Fabricante</label>
          <input type="text" class="form-control" [(ngModel)]="productDetails.fabricante" id="exampleInputFabricante">
        </div>
        <div class="mb-3">
          <label for="exampleInputNumRef" class="form-label">N. Ref</label>
          <input type="text" class="form-control" [(ngModel)]="productDetails.numRef" id="exampleInputNumRef">
        </div>
        <div class="mb-3">
          <label for="exampleInputLote" class="form-label">Lote</label>
          <input type="text" class="form-control" [(ngModel)]="productDetails.lote" id="exampleInputLote">
        </div>
        <div class="mb-3">
          <label for="exampleInputTesteEmbal" class="form-label">Testes/embal</label>
          <input type="text" class="form-control" [(ngModel)]="productDetails.testeEmbal" id="exampleInputTesteEmbal">
        </div>
        <div class="mb-3">
          <label for="exampleInputApres" class="form-label">Apres.</label>
          <input type="text" class="form-control" [(ngModel)]="productDetails.apres" id="exampleInputApres">
        </div>
        <div class="mb-3">
          <label for="exampleInputPrecoEURO" class="form-label">Preço/uni-EURO.</label>
          <input type="text" class="form-control" [(ngModel)]="productDetails.precoEuro" id="exampleInputPrecoEURO">
        </div>
        <div class="mb-3">
          <label for="exampleInputPrecoECV" class="form-label">Preço/uni-ECV.</label>
          <input type="text" class="form-control" [(ngModel)]="productDetails.precoEscudo" id="exampleInputPrecoECV">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="createProduct()">Add</button>
      </div>
    </div>
  </div>
</div>