<div class="d-flex">
    <button mat-button class="add">Add product</button>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Fornecedor</th>
        <th scope="col">Designação</th>
        <th scope="col">testes/embal</th>
        <th scope="col">Fabricante</th>
        <th scope="col">N. Ref</th>
        <th scope="col">Lote</th>
        <th scope="col">Apres.</th>
        <th scope="col">Preço/uni-EURO</th>
        <th scope="col">Preço/uni-ECV</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>
            <button mat-button class="btn-table">Edit</button>
            <button mat-button class="btn-table">Delete</button>
        </td>
    </tbody>
  </table>