<div class="toolbar">
    <div class="search-box">
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Type to Search...">
    </div>

    <div class="settings">
        <button mat-icon-button [matMenuTriggerFor]="language" [ngStyle]="{'color':'white'}"><mat-icon>language</mat-icon></button>
        <mat-menu #language="matMenu">
            <button mat-menu-item>English</button>
            <button mat-menu-item>Portuguese</button>
        </mat-menu>
        
        <button mat-icon-button>
            <mat-icon [ngStyle]="{'color':'white'}">brightness_medium</mat-icon>
        </button>
        
        <button mat-icon-button [matMenuTriggerFor]="user">
            <mat-icon [ngStyle]="{'color':'white'}">person</mat-icon>
        </button>
        <mat-menu #user="matMenu" style="margin-left: 50%;">
            <button mat-menu-item>Perfil</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
</div>